<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
       <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>Label</key>
    <string>com.warmcat.sai-builder</string>
    <key>ServiceDescription</key>
    <string>Sai Builder Daemon</string>
    <key>ProgramArguments</key>
    <array>             
        <string>/usr/local/bin/sai-builder</string>
    </array>
    <key>RunAtLoad</key>
    <true/>

	<key>StandardErrorPath</key>
	<string>/var/log/sai-builder.log</string>
</dict>
</plist>

