[Unit]
Description=Sai power

[Service]
Environment="LWS_NTP_SERVER=192.168.4.1"
ExecStart=/usr/local/bin/sai-power

[Install]
WantedBy=multi-user.target

